<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br">
	<head>
		<title>Mega Filtros</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	
		<meta http-equiv="content-language" content="pt-br" />
		<meta name="description" content="Mega Filtros" />
		<meta name="author" content="Rafael Cruz Rubert" />
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body>
		<div id="general">
			<div id="top">
				<h1><span>Mega Filtros</span></h1>
				
				<div id="info">
					<form action="" method="get" accept-charset="utf-8">
						<label for='username'>Login</label><input type="text" name='username' value="">
						<label for='password'>Senha</label><input type="password" name='password' value="">
						<input type="submit" value="Ok">
					</form>	
					<p class="phone">Contato <br />(85) 0000.0000</p>
				</div>
				
				<ul id='menu'>
					<li class='noborder' ><a href="#">HOME</a></li>
					<li><a href="#" >QUEM SOMOS</a></li>
					<li><a href="#" >MEUS PEDIDOS</a></li>
					<li><a href="#" >RASTEAR PEDIDO</a></li>
					<li><a href="#" >REVENDA</a></li>
					<li><a href="#" >CONTATO</a></li>
				</ul>
			</div>

			<div id="banner">
				<img src='images/banner.jpg' />
			</div>
			<div id="bread_crump">
				home / product
			</div>
			<div id="content">
				<div id="left">
					<h3 class='title_box'>Busca</h3>
					
					<form action="#" method="get" accept-charset="utf-8" id='search'>
						<input type="text" name="" value="" id="">
						<input type="submit" value="Ok">
					</form>
					<h3 class='title_box'>Categorias</h3>
					<ul>
						<li><a href=# >Categoria 1</a></li>
						<li><a href=# >Categoria 2</a></li>
						<li><a href=# >Categoria 3</a></li>
						<li><a href=# >Categoria 4</a></li>
					</ul>
					<h3 class='title_box'>Carrinho de compras</h3>
					<a href="#" class='cart_resume'>
						<span>1 produto</span> <strong>R$ 200,00</strong>	
					</a>
				</div>
				<div id="right">
					<a class="product" href="#">
						<img src="images/filtro.jpg">
						<h3 class="">Purificador de Água Ecologico 10L</h3>
						<strong>R$ 200,00<span>Comprar</span></strong>
					</a>
					<a class="product" href="#">
						<img src="images/filtro.jpg">
						<h3 class="">Purificador de Água Ecologico 10L</h3>
						<strong>R$ 200,00<span>Comprar</span></strong>
					</a>
					<a class="product" href="#">
						<img src="images/filtro.jpg">
						<h3 class="">Purificador de Água Ecologico 10L</h3>
						<strong>R$ 200,00<span>Comprar</span></strong>
					</a>
					<a class="product" href="#">
						<img src="images/filtro.jpg">
						<h3 class="">Purificador de Água Ecologico 10L</h3>
						<strong>R$ 200,00<span>Comprar</span></strong>
					</a>
					<div class='clear'>&nbsp;</div>
					
					<ul id="pagination">
						<li class="previous-off">« Anterior</li>
						<li class="active">1</li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#">6</a></li>
						<li><a href="#">7</a></li>
						<li class="next"><a href="?page=2">Próximo »</a></li>
					</ul>
				</div>
			</div>
			<div class='clear'>&nbsp;</div>
			<address>
				<p>&copy; 2010 MegaFiltros Todos os direitos reservados</p>
				<a href='#'>
					<img src='images/yack.gif' />
				</a>
			</address>

		</div>
	</body>
</html>